<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cervical cancer policy evaluation</title>
  <!-- Bootstrap core CSS-->
  <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://ionden.com/a/plugins/ion.rangeSlider/static/css/ion.rangeSlider.css">
  <link rel="stylesheet" type="text/css" href="http://ionden.com/a/plugins/ion.rangeSlider/static/css/ion.rangeSlider.skinHTML5.css">
  <link href="https://fonts.googleapis.com/css?family=Merienda+One|Open-Sans" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'polcancer/eSelector.css' %}">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  {% block nav %}
  <nav class="navbar navbar-expand-lg navbar-inverse fixed-top" id="mainNav">
    {% block nav-home %}
    <a class="navbar-brand" id="titleCC" href="{% url 'polcancer:index' %}">Cervical cancer policy evaluation</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'polcancer:vaccination' %}">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text" >Vaccination scheme</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'polcancer:dashboard' %}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        {% endblock %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" href="charts.html">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Charts</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Tables</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Components</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Navbar</a>
            </li>
            <li>
              <a href="cards.html">Cards</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Menu Levels</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Link</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">  
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  {% endblock %}
  <div class="content-wrapper" id="main-content">
    <div class="container-fluid">
      <div class="row">
          <h1>Vaccination scheme</h1>
      </div>
      <div class="row" id="checks" style="display:none;">
        <div class="col-lg-4">
          <p>Which gender(s) you want to apply the vaccine to?</p>
        </div>
        <div class="col-lg-2">
          <p>Females:</p>
        </div>
        <div class="col-lg-2">
        <input type="checkbox" id="femCheck">
        </div>
        <div class="col-lg-2">
          <p>Males:</p>
        </div>
        <div class="col-lg-2">
        <input type="checkbox" id="malCheck">
        </div>
      </div>
        <div id="femalesParameters" style="display:none;">
          <div class="row">
            <h3>Parameters for females</h3>
          </div>
          <br>
            <div class="form-group">
              <form>
                <div class="row">
                  <div class="col col-lg-4">
                    <p>Select the age ranges of people to apply the vaccine to:</p>
                  </div>
                  <div class="col col-lg-4">
                    <div class="range-slider">
                     <input type="text" class="js-range-slider" value="" />
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col col-lg-4">
                    <p>Select the years to apply the vaccine:</p>
                  </div>
                  <div class="col col-lg-4">
                    <div class="range-slider">
                     <input type="text" class="js-range-slider-y" value="" />
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col col-lg-4">
                    <p>Select the porcentage of people to apply the vaccine to:</p>
                  </div>
                  <div class="col col-lg-4">
                    <div class="range-slider">
                     <input type="text" class="js-range-slider-x" value="" />
                    </div>
                  </div>
                </div>
              </form>
        </div>
      </div>
        <div id="malesParameters" style="display:none;">
        <div class="row">
            <h3>Parameters for males</h3>
          </div>
          <br>
            <div class="form-group">
              <form>
                <div class="row">
                  <div class="col col-lg-4">
                    <p>Select the age ranges of people to apply the vaccine to:</p>
                  </div>
                  <div class="col col-lg-4">
                    <div class="range-slider">
                     <input type="text" class="js-range-slider" value="" />
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col col-lg-4">
                    <p>Select the years to apply the vaccine:</p>
                  </div>
                  <div class="col col-lg-4">
                    <div class="range-slider">
                     <input type="text" class="js-range-slider-y" value="" />
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col col-lg-4">
                    <p>Select the porcentage of people to apply the vaccine to:</p>
                  </div>
                  <div class="col col-lg-4">
                    <div class="range-slider">
                     <input type="text" class="js-range-slider-x" value="" />
                    </div>
                  </div>
                </div>
              </form>
        </div>
      </div>
      </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Universidad de los Andes</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/js/sb-admin.min.js"></script>
    <script src="http://ionden.com/a/plugins/ion.rangeSlider/static/js/ion-rangeSlider/ion.rangeSlider.js"></script>
    <script type="text/javascript">  
    var $range = $(".js-range-slider");
    var min = 1;
    var max = 100;

    $range.ionRangeSlider({
    type: "double",
    grid: true,
    grid_margin: false,
    grid_num: 10,
    min: min,
    max: max,
    from: 15,
    to: 30,
//    onStart: function (data) {
//      addSpecialAreas(data.slider);
//    }
});
    var $range = $(".js-range-slider-y");

    $range.ionRangeSlider({
    type: "double",
    grid: true,
    grid_margin: false,
    grid_num: 10,
    min: 1,
    max: 50,
    from: 5,
    to: 15,
//    onStart: function (data) {
//      addSpecialAreas(data.slider);
//    }
});

    var $range = $(".js-range-slider-x");

    $range.ionRangeSlider({
    type: "single",
    grid: true,
    grid_margin: false,
    grid_num: 10,
    min: 0,
    max: 100,
    from: 15,
//    onStart: function (data) {
//      addSpecialAreas(data.slider);
//    }
});
$( document ).ready(function() {
  $('#checks').toggle();
});

$('#femCheck').change(function() {
    $('#femalesParameters').toggle();
});
$('#malCheck').change(function() {
    $('#malesParameters').toggle();
});
//}
    </script>
  </div>
</body>

</html>
