.range-slider {
    position: relative;
    height: 80px;
}
.extra-controls {
    position: relative;
    border-top: 3px solid #000;
    padding: 10px 0 0;
}

.area {
    position: absolute;
    top: 0;
    height: 10px;
    background: #f00;
}
.ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}
 
.ui-slider-popup {
    position: absolute !important;
    width: 64px;
    height: 64px;
    text-align: center;
    font-size: 36px;
    padding-top: 14px;
    z-index: 100;
    opacity: 0.8;
}

.form-group {
	width: 95%;
    background-color: #E2F6FB;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: center;
}

#page-top {
	background-color:  #006680 !important;
}

#mainNav {
	background-color:  #006680 !important;
}

a {
	color: white !important;
}

.content-wrapper{
	padding-left: 10px;
}

#titleCC{
	font-family: 'Merienda One', cursive;
}

body{
	font-family: 'Open Sans', sans-serif;
}

#addScheme{
	background-color: white !important;
	border-radius: 4px;
	border: 2px solid #006680; /* Template blue */
	color: black;
}

#addScheme:hover {
    background-color: #006680!important;
    border-radius: 4px;
    border: 2px solid #006680; /* Template blue */
    color: white;
}

.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    display: inline-block;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}